@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body,
:root {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: var(--font-nunito), sans-serif;
  height: 100%;
}
